<!DOCTYPE html>
{% load static %}
{% include 'home/navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TEDx SVV TEAM 2021-2022</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Scripts For Footer -->
    <link href='//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block style %}
      <link rel="stylesheet" href="{% static 'team/css/team_cards.css' %}">
      <link rel="stylesheet" href="{% static 'team/css/teams_heading.css' %}">
      <link rel="stylesheet" href="{% static 'team/css/main_title.css' %}">
      <link rel="stylesheet" href="{% static 'team/css/team_sidenavbar.css' %}">
      <link rel="stylesheet" href="{% static 'home/css/scrollbar.css' %}">

    {% endblock %}    
    <link rel="stylesheet" href="{% static 'home/css/footer.css'%}">
</head>
<body>
    <section class="team_title">
      <h1 class="gradient-text">Organising Team 2021-2022</h1>
    </section>

    <section class="sidenavbar">
      <div class="side">
        <!--<a class="active" href="{% url 'team:index' %}" style="background:#10cc45;"><strong>TEAM 2021</strong></a>-->
        <a href="{% url 'team:team2020' %}" style="background:#42db34;"><strong>2020-2021</strong></a>
        <a href="{% url 'team:team2019' %}" style="background:#3498db;"><strong>2019-2020</strong></a>
        <a href="{% url 'team:team2018' %}" style="background:#e74c3c;"><strong>2018-2019</strong></a>
        <a href="{% url 'team:team2017' %}" style="background:#f1c40f;"><strong>2017-2018</strong></a>
    </div>
    </section>

    <h1 class="header">Organisers</h1>
    <section class="team_card_body">
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/radhaiyer.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Dr. Radha Iyer</h3>
                    <span class="card__status">
                      <i class="fas fa-envelope"></i>
                      <i class="fas fa-phone"></i>
                      <i class="fab fa-instagram"></i>
                    </span>
                  </div>
                </div>
                <p><br><br></p>
              </div>
            </div>
          </li> 
        </ul>
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/hetaldoshi.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Hetal Doshi</h3>
                    <span class="card__status">
                      <i class="fas fa-envelope" href="#"></i>
                      <i class="fas fa-phone" href="#"></i>
                      <i class="fab fa-instagram" href="#"></i>
                    </span>
                  </div>
                </div>
                <p><br><br></p>
              </div>
            </div>
          </li>    
        </ul>
    </section>

    <br>
    <br>

    <h1 class="header">Mentors</h1>
    <section class="team_card_body">
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/JAYANT.png' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Jayant Yadav [J.R.Y]</h3>
                    <span class="card__status">
                      <a href="mailto:jayantsvtedx@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:7710864372"><i class="fas fa-phone"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Laconic, Decorous & Borderline Crazy.</p>
              </div>
            </div>
          </li> 
        </ul>
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Rudra_Jog_e.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Rudra Jog</h3>
                    <span class="card__status">
                      <a href="mailto:rudra.jog@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:9920437263"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/rudeysipod/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Please ask the content team to come up with something good 😅</p>
              </div>
            </div>
          </li>    
        </ul>
    </section>

    <br>
    <br>

    <h1 class="header">Co-Organisers</h1>
    <section class="team_card_body">
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Avyay_Nair.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Avyay Nair</h3>
                    <span class="card__status">
                      <a href="mailto:avyay.nair@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:9167426667"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/avyay.jpeg/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Musician, gunner and happiness advocate</p>
              </div>
            </div>
          </li> 
        </ul>
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Ridhima_Sharma.jpeg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Ridhima Sharma</h3>
                    <span class="card__status">
                      <a href="mailto:ridhima.s@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:9137866724"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/ridhimasharma__/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">A big time zoophilist and a sports geek! Hit me up with dog pictures &lt;3</p>
              </div>
            </div>
          </li>   
        </ul>
    </section>

    <br>
    <br>

    <h1 class="header webdev">Web Development Team</h1>
    <section class="team_card_body">
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Soham_Bhoir.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Soham Bhoir</h3>
                    <span class="card__status">
                      <a href="mailto:soham.bhoir@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:9326358058"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/_.thunderrbolt.os._/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Passionate about Technology and Astronomy, Shift the Ctrl for me I will Alt the World</p>
              </div>
            </div>
          </li> 
        </ul>
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Jagjit_Bhumra.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Jagjit Singh Bhumra</h3>
                    <span class="card__status">
                      <a href="mailto:jagjit.s.bhumra@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:7977730628"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/js.bhumra/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Geek. Nerd.<br>Tech-Enthusiast.</p>
              </div>
            </div>
          </li>     
        </ul>
    </section>

    <br>
    <br>    

    <h1 class="header">Content Team</h1>
    <section class="team_card_body">
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Muskan_Mishra.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Muskan Mishra</h3>
                    <span class="card__status">
                      <a href="mailto:muskan.mishra@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:9569514978"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/muskamnishra/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Heavy belongs to wise ~ mm22'</p>
              </div>
            </div>
          </li>  
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Anusha_Dwivedi.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Anusha Dwivedi</h3>
                    <span class="card__status">
                      <a href="mailto:anusha.d@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:7678652464"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/anusha_dwivedi/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">I cannot define all of my 20 personalities in under 10 words.</p>
              </div>
            </div>
          </li>
        </ul>
        <ul class="cards">       
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Siddharth_Sharma.jpeg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Siddharth Sharma</h3>
                    <span class="card__status">
                      <a href="mailto:srs7@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:7506384967"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/sidzz13/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Smart-working, pizza lover, avid reader, man of few words</p>
              </div>
            </div>
          </li>               
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/ANN_VARGHESE.png' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Ann Rachel Varghese</h3>
                    <span class="card__status">
                      <a href="mailto:ann.varghese@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:8076685981"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/anndroid267/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Of course I talk to myself, Because sometimes I need expert advice.  ◕‿↼</p>
              </div>
            </div>
          </li>  
        </ul>
    </section>     
    
    <br>
    <br>

    <h1 class="header">Social Media Team</h1>
    <section class="team_card_body">
      <ul class="cards">      
        <li>
          <div class="card">
            <img src="{% static 'team/img/2022/Selista_Malikkal.jpg' %}" class="card__image" alt="" />
            <div class="card__overlay">        
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                <div class="card__header-text">
                  <h3 class="card__title">Selista Malikkal</h3>
                  <span class="card__status">
                    <a href="mailto:selista.m@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="tel:7900097471"><i class="fas fa-phone"></i></a>
                    <a href="https://www.instagram.com/selista_m/" target="_blank"><i class="fab fa-instagram"></i></a>
                  </span>
                </div>
              </div>
              <p class="card__description">I have wardrobe full of couture and bookshelf full of inspiration.</p>
            </div>
          </div>
        </li>    
        <li>
          <div class="card">
            <img src="{% static 'team/img/2022/Neharika_Chowdhury.jpeg' %}" class="card__image" alt="" />
            <div class="card__overlay">        
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                <div class="card__header-text">
                  <h3 class="card__title">Neharika Chowdhury</h3>
                  <span class="card__status">
                    <a href="mailto:neharika.c@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="tel:9538560675"><i class="fas fa-phone"></i></a>
                    <a href="https://www.instagram.com/neharika.chowdhury/" target="_blank"><i class="fab fa-instagram"></i></a>
                  </span>
                </div>
              </div>
              <p class="card__description">A foodie and an avid artist who uses sarcasm in her daily lingo.</p>
            </div>
          </div>
        </li>    
      </ul>
      <ul class="cards">      
        <li>
          <div class="card">
            <img src="{% static 'team/img/2022/SHREYA_LOLGE.jpeg' %}" class="card__image" alt="" />
            <div class="card__overlay">        
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                <div class="card__header-text">
                  <h3 class="card__title">Shreya Lolge </h3>
                  <span class="card__status">
                    <a href="mailto:shreya.lolge@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="tel:7030266309"><i class="fas fa-phone"></i></a>
                    <a href="https://www.instagram.com/shreyalolge/" target="_blank"><i class="fab fa-instagram"></i></a>
                  </span>
                </div>
              </div>
              <p class="card__description">The more I learn about people the more I love my dog :)</p>
            </div>
          </div>
        </li>   
      </ul>
      <ul class="cards">      
        <li>
          <div class="card">
            <img src="{% static 'team/img/2022/Aman_Malik.jpg' %}" class="card__image" alt="" />
            <div class="card__overlay">        
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                <div class="card__header-text">
                  <h3 class="card__title">Aman Malik</h3>
                  <span class="card__status">
                    <a href="mailto:a.malik@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="tel:7506986795"><i class="fas fa-phone"></i></a>
                    <a href="https://www.instagram.com/Abey.aman.yaar/" target="_blank"><i class="fab fa-instagram"></i></a>
                  </span>
                </div>
              </div>
              <p class="card__description">Me? Dramatic? Arey nahi yaar khaa meri kasam</p>
            </div>
          </div>
        </li>   
        <li>
          <div class="card">
            <img src="{% static 'team/img/2022/RASHEE_ANAND.jpg' %}" class="card__image" alt="" />
            <div class="card__overlay">        
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                <div class="card__header-text">
                  <h3 class="card__title">Rashee Anand</h3>
                  <span class="card__status">
                    <a href="mailto:rashee.anand@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="tel:8435587875"><i class="fas fa-phone"></i></a>
                    <a href="https://www.instagram.com/aajkarasheefal/" target="_blank"><i class="fab fa-instagram"></i></a>
                  </span>
                </div>
              </div>
              <p class="card__description">My surname does not go with my personality.</p>
            </div>
          </div>
        </li>   
      </ul>      
    </section>

    <br>
    <br>

    <h1 class="header">Event Management Team</h1>
    <section class="team_card_body">
        <ul class="cards">        
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Ria_Bajari.jpeg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Ria Bajari</h3>
                    <span class="card__status">
                      <a href="mailto:ria.bajari@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:8999374249"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/riabajari/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Never on time, but always on point.</p>
              </div>
            </div>
          </li>
        </ul>
        <ul class="cards">        
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Sakshi_Hiremath.jpeg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Sakshi Hiremath</h3>
                    <span class="card__status">
                      <a href="mailto:s.hiremath@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:9619706395"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/sakshiremth/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">With great power comes a ton of weird stuff you're not prepared for</p>
              </div>
            </div>
          </li>   
        </ul>
        <ul class="cards">        
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Girik_Bhambra.jpeg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Girik Bhambra</h3>
                    <span class="card__status">
                      <a href="mailto:girik.b@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:9820800208"><i class="fas fa-phone"></i></a>
                      <a href="https://youtube.com/channel/UCm6Tj5PaPE0Bc7RDp9mHHYA" target="_blank"><i class="fab fa-youtube"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">I’m a guitarist, CSE student, and a fitness enthusiast.</p>
              </div>
            </div>
          </li>   
        </ul>
    </section>
    
    <br>
    <br>

    <h1 class="header">Graphics Team</h1>
    <section class="team_card_body">
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/NIRJRA_GANDHI.png' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Nirjra Gandhi</h3>
                    <span class="card__status">
                      <a href="mailto:nirjragandhi@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:7738052655"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/nirjras/" target="_blank"><i class="fab fa-instagram"></i></a>
                      <a href="https://twitter.com/nirjragandhi" target="_blank"><i class="fab fa-twitter"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">an awkwardly awkward cat lover 💀👍</p>
              </div>
            </div>
          </li> 
        </ul>
        <ul class="cards">        
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Moksh_Panditpautra.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Moksh Panditpautra</h3>
                    <span class="card__status">
                      <a href="mailto:m.panditpautra@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:8369052308"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/mokshkp__25/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">FYJC Student</p>
              </div>
            </div>
          </li>    
        </ul>
    </section>

    <br>
    <br>

    <h1 class="header">Tech Specialist</h1>
    <section class="team_card_body">
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Shravani_Patil.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Shravani Yogesh Patil</h3>
                    <span class="card__status">
                      <a href="mailto:shravani.yp@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:7823889970"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/ig_soulspy/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">I am a Talkative Personality with creative technicalities 😉</p>
              </div>
            </div>
          </li> 
        </ul>        
    </section>

    <br>
    <br>

    <h1 class="header">Videography Team</h1>
    <section class="team_card_body">
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/SHUBH_RADIA.png' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Shubh Radia</h3>
                    <span class="card__status">
                      <a href="mailto:shubh.radia@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:7506977922"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/shubh_radia/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Hi I am Shubh. I edit videos and my name on someone else's assignment.</p>
              </div>
            </div>
          </li>      
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/Vrunda_Vadodaria.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Vrunda Vadodaria</h3>
                    <span class="card__status">
                      <a href="mailto:vrunda.vadodaria@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:8976013285"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/vrunda_160317/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Traditional millennial, seriously funny, un-synced Symphony, a simple girl, yet a beautiful paradox!</p>
              </div>
            </div>
          </li>      
        </ul>
        <ul class="cards">         
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/ROHAN_SHANKPAL.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Rohan Shankpal</h3>
                    <span class="card__status">
                      <a href="mailto:rohan.shankpal@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:9819866131"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/rohanshankpal/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">Sorry, my quote's still 'rendering', and yeah, I procrastinate. Fade-out. </p>
              </div>
            </div>
          </li>      
          <li>
            <div class="card">
              <img src="{% static 'team/img/2022/SAMBHRAM_JAIN.jpg' %}" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <!--<img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
                  <div class="card__header-text">
                    <h3 class="card__title">Sambhram Jain</h3>
                    <span class="card__status">
                      <a href="mailto:sambhram.j@somaiya.edu" target="_blank"><i class="fas fa-envelope"></i></a>
                      <a href="tel:8369480381"><i class="fas fa-phone"></i></a>
                      <a href="https://www.instagram.com/sambhramjain/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </span>
                  </div>
                </div>
                <p class="card__description">My name is Sambhram Jain. I'm from MSc Computer Science.</p>
              </div>
            </div>
          </li>      
        </ul>       
    </section>

    <br>
    <br>
    <br>

</body>
{% include 'home/footer1.html' %}
</html>