 <!--Start Contact-->
 <div id="contact" class="container-footer pt-5">
    <div class="container py-5">
        
        <div class="row">
            <div class="col-md-6 col-xs-12 footer-content">

                    <div class="col-12">
                        <div class="row highlighttext">                            
                            <h2 class="highlighter" data-wow-delay="0.3s"  style="color:#e62b1e;font-weight:800;"><span class=" highlighter-name"><b>Contact Us Here</b></span></h2>   
                        </div> 
                        
                        <div class="row container px-0">
                            <div class="row main">
                                <div class="main-login main-center">
                                    <!--<h4 class="subscribe"><i>Subscribe to our Newsletter</i></h4>
                                    <script type="text/javascript">var submitted=false;</script>
                                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
                                    onload="if(submitted) {window.location='index.html';}"></iframe>
                                    
      
                                    <form role="form" class="" action="https://docs.google.com/forms/d/e/1FAIpQLScrzyChE8Rabza_kfeoCL28h-_FHo34XH2byiTYMjfv9gugpg/viewform?usp=sf_link" target="_blank">            
                                        <div class="input-group">                                                            
                                            <input type="text" class="form-control" name = "entry.1031626733"  id="email"  placeholder="Provide your email address"/>
                                        </div> -->                                             

                                    <!--form role="form" id="contactForm" action ="https://docs.google.com/forms/d/e/1FAIpQLScrzyChE8Rabza_kfeoCL28h-_FHo34XH2byiTYMjfv9gugpg/viewform?usp=sf_link" class="contact-form" data-toggle="validator" method="post" target="hidden_iframe" onsubmit="submitted=true;">
                                        <div class="form-group">
                                            <div class="controls">
                                                <input type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  title="eg: youremail@gmail.com"  name = "entry.1031626733" class="email form-control" id="email" placeholder="Provide your email address" required data-error="Please check your email address">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <button type="submit" id="submit" class="btn btn-success center" style="margin-left:15px"> Send Message</button>
                                          <div id="msgSubmit" class="h3 text-center hidden"></div>
                                          <div class="clearfix"></div-->
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row highlighttext pt-4">                            
                            <h4 class="highlighter" data-wow-delay="0.3s"  style="color:#e62b1e;font-weight:800;"><span class=" highlighter-name"><b>For further queries:</b></span></h4>   
                        </div> <br>
                        <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <b><p style="color:white;font-size:150%;">Co-Organisers:</p></b>
                            <p style="color:#b2b2b2; font-weight: 700;">Avyay Nair : <br><a href="tel:9167426667" style="color: #ff5c5c;">+91 9167426667</a><br><a href="mailto:avyay.nair@somaiya.edu" style="color: #ff5c5c;" target="_blank">avyay.nair@somaiya.edu</a></p>
                            <p style="color:#b2b2b2; font-weight: 700;">Ridhima Sharma : <br><a href="tel:9137866724" style="color: #ff5c5c;">+91 9137866724</a><br><a href="mailto:ridhima.s@somaiya.edu" style="color: #ff5c5c;" target="_blank">ridhima.s@somaiya.edu</a></p>
                            <br>                                        
                            <!--<p style="color:#a2a2a2;font-size:110%;">Communications & Marketing</p>
                            <p style="color:#b2b2b2">Akshay : +91 7045413968</p>
                            <p style="color:#b2b2b2">akshay.arukandy@somaiya.edu</p>-->
                            <!--p class="mobile-only" style="color:#b2b2b2">Preet : +91 8291716128</p-->
                            <!--p class="mobile-only" style="color:#b2b2b2">preet.arora@somaiya.edu</p-->
                            <b><p style="color:white;font-size:150%;">Mentors:</p></b>
                            <p style="color:#b2b2b2; font-weight: 700;">Jayant Yadav : <br><a href="tel:7710864372" style="color: #ff5c5c;">+91 7710864372</a><br><a href="mailto:jayantsvtedx@gmail.com" style="color: #ff5c5c;" target="_blank">jayantsvtedx@gmail.com</a></p>   
                            <p style="color:#b2b2b2; font-weight: 700;">Rudra Jog : <br><a href="tel:9920437263" style="color: #ff5c5c;">+91 9920437263</a><br><a href="mailto:rudra.jog@somaiya.edu" style="color: #ff5c5c;" target="_blank">rudra.jog@somaiya.edu</a></p>
                        </div>
                        <div class="col-sm-6 desktop-only">
                            <p style="color:#a2a2a2;font-size:110%;"><br></p>
                            <p style="color:#b2b2b2">Yash : +91 9420700145</p>
                            <p style="color:#b2b2b2">shah.ya@somaiya.edu</p>
                            <br><br>                                     
                            <!--p style="color:#a2a2a2;font-size:110%;"><br></p>
                            <p style="color:#b2b2b2">Preet : +91 8291716128</p>
                            <p style="color:#b2b2b2">preet.arora@somaiya.edu</p-->
                        </div>
                        </div>
                        <br>  
                    </div>

            </div>
            
            <div id="map" class="col-md-6 col-xs-12 pt-5 px-0 footer-content" style="min-height:300px;max-height:600px;">
                                                
                <script>
                  function initMap() {

                    // Create a new StyledMapType object, passing it an array of styles,
                    // and the name to be displayed on the map type control.
                    var styledMapType = new google.maps.StyledMapType(
                    [
                      {elementType: 'geometry', stylers: [{color: '#ff7070'},{"lightness": 25}]},
                      {elementType: 'labels.text.fill', stylers: [{color: '#ffffff'}]},
                      {elementType: 'labels.text.stroke', stylers: [{color: '#4d4d4d'}]},
                      {
                        featureType: 'administrative',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#ff4f4f'}]
                      },
                      {
                        featureType: 'administrative.land_parcel',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#ff4f4f'}]
                      },
                      {
                        featureType: 'administrative.land_parcel',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#ffffff'}]
                      },
                      {
                        featureType: 'landscape.natural',
                        elementType: 'geometry',
                        stylers: [{color: '#ff4f4f'}]
                      },
                      {
                        featureType: 'poi',
                        elementType: 'geometry',
                        stylers: [{color: '#ff4f4f'},{"lightness": 15}]
                      },
                      {
                        featureType: 'poi',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#ffffff'}]
                      },
                      {
                        featureType: 'poi.park',
                        elementType: 'geometry.fill',
                        stylers: [{color: '#ff4f4f'}]
                      },
                      {
                        featureType: 'poi.park',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#ffffff'}]
                      },
                      {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#ff4f4f'}]
                      },
                      {
                        featureType: 'road.arterial',
                        elementType: 'geometry',
                        stylers: [{color: '#ff0000'}]
                      },
                      {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#d60000'}]
                      },
                      {
                        featureType: 'road.highway',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#d60000'}]
                      },
                      {
                        featureType: 'road.highway.controlled_access',
                        elementType: 'geometry',
                        stylers: [{color: '#ed0000'}]
                      },
                      {
                        featureType: 'road.highway.controlled_access',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#ed0000'}]
                      },
                      {
                        featureType: 'road.local',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#ffffff'}]
                      },
                      {
                        featureType: 'transit.line',
                        elementType: 'geometry',
                        stylers: [{color: '#00cccc'}]
                      },
                      {
                        featureType: 'transit.line',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#ffffff'}]
                      },
                      {
                        featureType: 'transit.line',
                        elementType: 'labels.text.stroke',
                        stylers: [{color: '#ffffff'}]
                      },
                      {
                        featureType: 'transit.station',
                        elementType: 'geometry',
                        stylers: [{color: '#00cccc'}]
                      },
                      {
                        featureType: 'water',
                        elementType: 'geometry.fill',
                        stylers: [{color: '#7fffff'}]
                      },
                      {
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#ffffff'}]
                      }
                    ],
                    {name: 'Styled Map'});

                    // Create a map object, and include the MapTypeId to add
                    // to the map type control.
                      var myCenter = new google.maps.LatLng(19.073084, 72.899822);
                    var map = new google.maps.Map(document.getElementById('map'), {
                      center: myCenter,
                      zoom: 15,
                      mapTypeControlOptions: {
                        mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                                'styled_map']
                      }
                    });
                      var marker = new google.maps.Marker({position:myCenter});
                        marker.setMap(map);

                    //Associate the styled map with the MapTypeId and set it to display.
                    map.mapTypes.set('styled_map', styledMapType);
                    map.setMapTypeId('styled_map');
                  }
                </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzz-A6jSj4wSausvYI0bUW3_hFtt5RMZc&callback=initMap">
                </script>       
                
                
            </div>
         
        </div>
    </div>

</div>
<!--End Contact-->
