.container-footer {
    background: #262626;
    z-index: 10 !important;
}

.subscribe {
    color: white;
}
.desktop-only{
    display: none !important;
}

@media screen and (max-width:768px) {
    .container-footer {
        justify-content: center !important;
        text-align: center !important;
    }
    .row {
        justify-content: center;
        margin-left: auto !important;
        margin-right: auto !important;
    } 
    #map {
     margin-left: 20px !important;
     margin-right: 20px !important;
     }
     .footer-content {
         width: 100% !important;
     }
 }