@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select : none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


nav{
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 20;
}

footer{
  margin: 0!important;
  padding: 0!important;
  left: 0!important;
  bottom: 0!important;
  width: 100%!important;
  z-index: 5!important;
}

.footerdiv {
  z-index: 5;
}


.wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(25px at calc(100% - 50px) 50px);
  transition: all 0.45s ease-in-out;
  background: linear-gradient(62deg,  #FF8629, #D996FF, #FF454B, #7278F7);
  animation: gradient 15s ease infinite; 
  background-size: 400% 400%;
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

.slider-thumb::before {
	position: absolute;
	content: "";
	left: 50%;
	top: 50%;
  margin-top: -287.5px;
  margin-left: -312.5px;
	width: 625px;
	height: 625px;
	background: #17141d;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

#active:checked ~ .wrapper{
  clip-path: circle(75%);
}

#active:checked ~ .menu-btn{
  background: #fff;
  color: #c72424;
  border-color: #c72424;
  transition: all 0.5s ease;
}

#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}

.menu-btn{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2;
  text-align: center;
  line-height: 60px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  background: #c72424;

}

@media screen and (max-width: 600px){
  .menu-btn{
    right: 15px;
    top: 15px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    font-size: 20px;
  }
  .wrapper{
    clip-path: circle(20px at calc(100% - 40px) 40px);
  }
}

.wrapper ul{
  position: absolute;
  top: 50%;
  margin-top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  word-wrap: none;
}

.wrapper ul li{
  margin: 20px 0;
  word-wrap: none;
}

.wrapper ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 0;
  line-height: 50px;
  transition: all 0.3s ease;
  word-wrap: none;
}

.nav-option{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.nav-option:before, .nav-option:after {
  content: '';
  position: absolute;
  width: 0%;
  top: 80%;
  height: 3px;
  margin-top: -0.5px;
  background: #f72a34;
}

.nav-option:before {
  left: -2.5px;
}
.nav-option:after {
  right: 2.5px;
  background: #f72a34;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-option:hover:before {
  background: #f72a34;
  width: 105%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-option:hover:after {
  background: transparent;
  width: 105%;
  transition: 0s;
}

input{
  display: none;
}

nav .logo {
  z-index: 10;
  position: fixed;
  float: left;
  line-height: 70px;
  padding: 10px;
  left: 20px;
  top: 10px;
  background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

nav .logo img{
  height: 60px;
  width:auto;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle !important;
}

@media screen and (max-width: 600px){
  nav .logo{
    line-height: 50px;
    padding: 5px;
    left: 10px;
    top: 10px;
  }
  nav .logo img{
    height: 45px;
  }
} 