

.sidenavbar {
    top: 50%;
    position: fixed;
    z-index: 5;
}

.side {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.side a {
    background: beige;
    color: #fafafa;
    font-size: 23px;
    word-wrap: none;
    text-align: end;
    display: block;
    width: 300px;
    height: auto;
    padding: 13px;
    text-decoration: none;
    margin-left: -230px;
    margin-top: 10px;
    border-radius: 6px;
    transition: 0.5s all;
    text-transform: uppercase;
}

a.active {
    margin-left: -50px;
    text-decoration: none;
    color: #ffffff;    
    font-size: 40px;
    /*---White---*/
}

.side a:hover {
    margin-left: -50px;
    text-decoration: none;
    color: #ffffff;    
    font-size: 40px;
    /*---White---*/
}

@media screen and (min-width: 320px) and (max-width: 480px) { /* //320px — 480px */

    .side a:hover{
        font-size: 15px;
        /*transform: rotate(-90deg);*/
        width: 110%;
        margin-left: -5px;
        text-align: center;
    }
    .side a{
        padding: 10px 5px;
        margin-left: -168px;
        margin-top: 1.7em;
        font-size: 3.3vw;
        font-weight: 400;
    }
    .side{
        margin-left: 0.7em;
    }

}
@media screen and (min-width: 481px) and (max-width: 768px) {  /* 481px — 768px */ 
    
    .side a:hover{
        font-size: 20px;
        /*transform: rotate(-90deg);*/
        width: 110%;
        margin-left: -5px;
        text-align: center;
    }
    .side a{
        padding: 10px 5px;
        margin-left: -150px;
        margin-top: 1.7em;
        font-size: 3.3vw;
        font-weight: 400;
    }
    .side{
        margin-left: 0.7em;
    }    
}
@media screen and (min-width: 769px) and (max-width: 1024px) {  /* 769px — 1024px */ 
    
    .side a:hover{
        font-size: 30px;
        /*transform: rotate(-90deg);*/
        width: 150%;
        margin-left: -5px;
        text-align: center;
    }
    .side a{
        padding: 10px 5px;
        margin-left: -140px;
        margin-top: 1.7em;
        font-size: 25px;
        font-weight: 400;
    }
    .side{
        margin-left: 0.5em;
    }    
}