@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    height: auto;
    min-height: 100%;
    font-family: Roboto, sans-serif;
}
main {
    padding-top: 400px;
    padding-bottom: 24px;
    font-family: arial;
    background: #ffdec8;
    min-height: 100%;
}
.app-header {
    z-index: 5!important;
    display: block;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.header-content {
    z-index: 5;
    position: relative;
    height: 100%;
    width: 100%;
}
.app-toolbar {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    height: 175px;
    padding: 0 16px;
    pointer-events: none;
    font-size: 30px;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
    .app-toolbar{
        font-size: 15px;
        margin-bottom: 5px;
        height: 150px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .app-toolbar{
        font-size: 20px;
    }
}

#large-toolbar {
    justify-self: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform-origin: center top;
    margin-bottom: 0;
    width: 100%;
}
.small-title, .large-title {
    text-align: center;
    transform-origin: center top;
    white-space: wrap;
    flex: 1;
    flex-basis: 0.000000001px;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    bottom: 0;
}
.small-title {
    margin-left: 0;
    margin-bottom: 5px;
    width: 100vw;
    opacity: 0;
}
.large-title {
    word-wrap: wrap;
    will-change: transform, opacity;
    font-size: 56px;
    font-size: 2em;
    margin-left: 0;
    width: 100vw;
}
.icon-button {
    display: inline-block;
    position: relative;
    padding: 6px;
    outline: none;
    user-select: none;
    font-size: 0;
    line-height: 1;
    width: 40px;
    height: 40px;
    box-sizing: border-box !important;
}
.icon-button .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: currentcolor;
    stroke: none;
    width: 100%;
    height: 100%;
}
.background-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.background {
    pointer-events: none;
    position: absolute;
    background-size: cover;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    will-change: transform, opacity;
}
#background-back {
    background-position: left center;
    opacity: 0;
}
#background-front {
    background-position: left center;
    opacity: 0.9;
}
.card {
    z-index: 0 !important;
    padding: 16px;
    margin: 50px;
    margin-bottom: 26px;
    border-radius: 2px;
    background-color: #faefe3 !important;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.date{
    font-size: 0.9rem;
    color:gray;
    margin: 15px;
    padding-left: 20px;
}
.card .card-title {
    z-index: 0 !important;
    padding: 24px 16px 8px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.card .post_body {
    text-align: justify !important;
    font-size: 1.6rem !important;
    font-family: 'Mukta', sans-serif !important;
    font-weight: 100;
    letter-spacing: 0.01em;
    line-height: 1.6em;
    padding: 0 16px;
}
@media screen and (max-width: 600px) {
    .card {
        margin: 24px;
        margin-bottom: 5px;
    }
    .card .post_body {
        text-align: justify !important;
        font-size: 0.75rem !important;
        font-weight: 200;
        letter-spacing: 0.01em;
        line-height: 1.6em;
        padding: 0 16px;
    }
    .date{
        font-size: 0.6rem;
        font-weight: 500;
        color:gray;
        margin: 15px;
        padding-left: 20px;
    }
}
