@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

@media screen and (max-width: 992px) {
  * {
    box-sizing: border !important;
  }
  body {
    background-color: #121212;
    min-height: 100vh;
    font-family: "Fira Sans", sans-serif;
  }
  main #slider {
    display: none;
  }
  main {
    height: min-content;
    margin-top: 5vw;
  }
}
.blog-carousel {
  width: 90%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #333;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 5vw;
  border-radius: 25px;
  height: auto;
  transition: all 0.3s;
  display: none;
  margin-bottom: 20vw;
}
@media screen and (max-width: 992px) {
  .blog-carousel {
    max-width: 90vw;
    height: auto;
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .blog-carousel {
    min-height: auto;
    height: auto;
    margin: 32.5vw 5vw;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-carousel {
    height: auto;
  }
}
.blog-carousel__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .blog-carousel__item {
    flex-direction: column;
  }
}

.blog-carousel__item.swiper-slide-active .blog-carousel__img img {
  opacity: 1;
  transition-delay: 0.3s;
  background-size: cover;
}
.blog-carousel__item.swiper-slide-active .blog-carousel__content > * {
  opacity: 1;
  transform: none;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-carousel__item.swiper-slide-active
  .blog-carousel__content
  > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-carousel__img {
  width: 90%;
  flex-shrink: 0;
  height: auto;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-carousel__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.blog-carousel__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-carousel__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-carousel__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-carousel__img {
    height: 270px;
  }
}
.blog-carousel__content {
  padding-right: 25px;
}
@media screen and (max-width: 992px) {
  .blog-carousel__content {
    margin-top: -10vw;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-carousel__content {
    padding: 0;
  }
}
.blog-carousel__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-carousel__code {
  font-size: 18px;
  color: #FF5722;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-carousel__title {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.blog-carousel__text {
  color: #fdbbaf;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-carousel__button {
  display: inline-flex;
  background: #07fc03;
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-carousel__button {
    width: 100%;
  }
}
.blog-carousel .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-carousel .swiper-pagination-custom,
.blog-carousel .swiper-pagination-fraction {
  top: 10px;
  left: 0;
  width: 100%;
}
.blog-carousel__pagination {
  top: 26.25vw;
  position: relative;
  z-index: 2;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  bottom: auto !important;
  transform: translateY(-50%);
  height: 10px !important;
}
@media screen and (max-width: 992px) {
  .blog-carousel__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

span[aria-label="Go to slide 1"] {
  background-color: #fff;
  opacity: 1 !important;
  animation: glow 1200ms infinite;
}

@keyframes glow {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}

.blog-carousel__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 992px) {
  .blog-carousel__pagination.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-carousel__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #fff;
  opacity: 0.2;
  transition: all 0.3s;
}

.blog-carousel__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #07fc03;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 992px) {
  .blog-carousel__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}
