
.header {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight:  500;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) { /* 320px — 480px */

	.header {
		font-size: 2.1em;
		margin: 0 0.4em 0 0.4em;
		text-align: center;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {  /* 481px — 768px */

	.header {
		font-size: 2.3em;
		margin: 0 0.4em 0 0.4em;
		text-align: center;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {  /* 769px — 1024px */

	.header {
		font-size: 3.3em;
		margin: 0 0.4em 0 0.4em;
		text-align: center;
	}
}